<?xml version="1.0" ?>
<launch>
    <param name="/use_sim_time" value="true" />

    <arg name="in_bag_root" value="/home/hanten/Workspace/data/rawseeds/bags" />
    <arg name="in_bag_file" value="Bicocca_2009-02-25b-static-artificial-light.bag" />
    <arg name="out_bag_root" value="/home/hanten/Workspace/data/rawseeds/bags" />
    <arg name="out_bag_file" value="Bicocca_2009-02-25b-static-artificial-light-tf.bag" />
    
    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock --rate 5.0 $(arg in_bag_root)/$(arg in_bag_file)" required="true" />
    <include file="$(find rawseeds_ros)/launch/transforms.launch" />
    
    <node pkg="rosbag" type="record" name="record" output="screen" args="-a -O $(arg out_bag_root)/$(arg out_bag_file)" />

</launch>