<?xml version="1.0" ?>
<launch>
    <group ns="muse_amcl_exam_test_mock_launch">
        <group ns="update0">
            <param name="class" value="muse_amcl::MockUpdate" />
            <param name="base_class" value="muse_amcl::Update" />

            <param name="data_provider" value="data0" />
            <param name="map_provider" value="map0" />

            <param name="first" value="0.01" />
            <param name="second" value="1" />
        </group>
        <group ns="propagation0">
            <param name="class" value="muse_amcl::MockPropagation" />
            <param name="base_class" value="muse_amcl::Propagation" />

            <param name="data_provider" value="data1" />

            <param name="first" value="0.001" />
            <param name="second" value="100" />
        </group>
        <group ns="update1">
            <param name="class" value="muse_amcl::MockUpdate" />
            <param name="base_class" value="muse_amcl::Update" />

            <param name="data_provider" value="data0" />
            <param name="map_provider" value="map0" />

            <param name="first" value="0.0001" />
            <param name="second" value="1000" />
        </group>
        <group ns="propagation1">
            <param name="class" value="muse_amcl::MockPropagation" />
            <param name="base_class" value="muse_amcl::Propagation" />
            <param name="data_provider" value="data1" />
            <param name="first" value="0.00001" />
            <param name="second" value="10000" />
        </group>
        <group ns="map0">
            <param name="class" value="muse_amcl::MockMapProvider" />
            <param name="base_class" value="muse_amcl::MapProvider" />
        </group>
        <group ns="map1">
            <param name="class" value="muse_amcl::MockMapProvider" />
            <param name="base_class" value="muse_amcl::MapProvider" />
        </group>
        <group ns="data0">
            <param name="class" value="muse_amcl::MockDataProvider" />
            <param name="base_class" value="muse_amcl::DataProvider" />
        </group>
        <group ns="data1">
            <param name="class" value="muse_amcl::MockDataProvider" />
            <param name="base_class" value="muse_amcl::DataProvider" />
        </group>
        <group ns="particle_filter">
            <param name="frame_id" value="world" />
            <param name="sample_size"     value="" /> <!-- same as maximum size, but maximum size is primary -->
            <param name="sample_size_min" value="" /> <!-- if not defined min and max sample sizes are set to sample_size -->
            <param name="sample_size_max" value="" /> <!-- if not defined min and max sample sizes are set to sample_size -->

            <group ns="resampling">
			      <param name="class" value="muse_amcl::KLD2D" />
              <param name="base_class" value="muse_amcl::Resampling" />
              <param name="class" value="muse_amcl::KLD2D" />

              <param name="resolution_linear" value="0.05" />
              <param name="resolution_radial" value="0.0314256"/>

              <param name="use_array" value="true" />         <!-- resampling will use array for clustering near range -->
              <param name="array_size" value="10.0" /> <!-- linear size of the array -->
            </group>
            <group ns="uniform_pose_generation">
              <param name="class" value="muse_amcl::UniformAllMaps2D" />
              <param name="base_class" value="muse_amcl::UniformPoseGeneration" />
              <param name="seed" value="2" />

              <rosparam param="secondary_maps">
                ["map1"]
              </rosparam>
              <param name="timeout" value="10.0" />
              <param name="tf_timeout" value="0.1" />
              <param name="sample_size" value="500" />
              <param name="primary_map" value="map0" />
            </group>
            <group ns="normal_pose_generation">
              <rosparam param="maps">
                ["map0", "map1"]
              </rosparam>
              <param name="timeout" value="10.0" />
              <param name="tf_timeout" value="0.1" />
              <param name="sample_size" value="500" />
              <param name="class" value="muse_amcl::Normal2D" />
              <param name="base_class" value="muse_amcl::NormalPoseGeneration" />
              <parma name="seed" value="0" />

            </group>

        </group>
    </group>
    <node type="muse_amcl_exam_test_mock_launch" name="muse_amcl_exam_test_mock_launch" pkg="muse_amcl_core_plugins" output="screen">
    <param name="config" value="muse" />
    </node>
</launch>
