<?xml version="1.0" ?>
<launch>
        <group ns="muse_amcl_exam_test_mock_launch">
		<group ns="update">
                    <param name="class" value="muse_amcl::MockUpdate" />
                    <param name="base_class" value="muse_amcl::Update" />
		</group>
		<group ns="propagation">
                    <param name="class" value="muse_amcl::MockPropagation" />
                    <param name="base_class" value="muse_amcl::Propagation" />
		</group>
	</group>


	<node type="muse_amcl_exam_test_mock_launch" name="muse_amcl_exam_test_mock_launch" pkg="muse_amcl_core_plugins" output="screen">
		<param name="config" value="muse" />
	</node>
</launch>
